@import url(generales.css);
/*-----------PRODUCTO--------------*/

.section {padding: 1rem 0 2rem;}
.section__content--info{
    padding: 4rem 4rem 0rem;
}
.section__content--paper{
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:var(--space-ultra-xxl);
}
.paper__img-wrapper {
    height:27rem;
    background-image: url(../img/notas-01.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.paper__img-wrapper>h2 {
    text-align: center;
    padding: var(--space-xxxl) 0 var(--space-m);
    border-bottom: 3px solid;
}
.paper__img-wrapper:nth-child(odd)>h2 {
    color: var(--neon-blue);
    border-color: var(--neon-blue);
}
.paper__img-wrapper:nth-child(even)>h2 {
    color: var(--orange);
    border-color: var(--orange);
}
.paper__img-wrapper>p {
    padding: var(--space-xxl);
    text-align: justify;
}
/*-----------FOTO PRODUCTO --------------*/
.info__img-wrapper{
    position: relative;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.info__img-wrapper>h1 {
    color: var(--dark-pink);
    font-size: 15rem;
    text-shadow: 1px 1px 5px var(--light-purple);
}
.info__img-fit {
    position: absolute;
    top: var(--space-ultra-xxl);
    width: 70%;
    object-position: bottom;
    object-fit:contain;
}
.product-img{
    object-fit: cover;
    object-position: center;
    filter: saturate(1.2);
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(37, 8, 87, 0.8));
    transition: all 350ms ease-out;
}
.content__text {
    margin-top: var(--space-ml);
    background-color: rgba(102, 19, 208, 0.4);
    padding: var(--space-xxl);
    color: var(--primary-color);
}