@import url('generales.css');

/*AQUÍ VUESTRO CÓDIGO*/
.container{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(114, 229, 255, 0.75) 25%,rgba(253, 114, 181, 0.75) 50%, rgba(137, 255, 139, 0.75) 75%, rgba(255, 163, 105, 0.75) 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Disposicion del main: dos elementos, un titulo h2 y un div con el formulario. */
.main{
    background-color: var(--beige);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: var(--space-ultra-l);
    gap: var(--space-m);
}
.main__titulo{
    text-align: center;
}
.main__formulario{
    width: 65%;
    min-height: 30rem;
    padding: var(--space-xxl);
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    gap: var(--space-m);
}
.main__formulario>div{
    width: 100%;
}
/*Dos elementos: nombre y correo, hago flex SOBRE LOS LABELS (no se si es lo correcto)*/
.formulario__datos{
    display:flex;
    justify-content: space-between;
}
.formulario__datos>label{
    width: 45%;
}
.formulario__mensaje, .formulario__datos>label{
    display: flex;
    flex-flow: column;
    gap: var(--space-m);
}
input, textarea{
    border: 2px solid;
    padding: var(--space-m);
    border-radius: var(--space-s);
}

.fomulario__boton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div{
    border-radius: var(--space-s);
}
.container{
    border-radius: 0;
}