@import url(generales.css);
/*-----------PRODUCTO--------------*/
body {
    background-image: linear-gradient(
    190deg,
    hwb(0 100% 0%) 0%,
    hsl(55deg 100% 97%) 4%,
    hsl(55deg 100% 94%) 8%,
    hsl(55deg 100% 92%) 13%,
    hsl(55deg 100% 89%) 18%,
    hsl(55deg 100% 86%) 23%,
    hsl(43deg 100% 83%) 28%,
    hsl(23deg 100% 84%) 33%,
    hsl(349deg 100% 86%) 38%,
    hsl(321deg 100% 84%) 44%,
    hsl(263deg 88% 84%) 49%,
    hsl(219deg 100% 80%) 55%,
    hsl(202deg 100% 75%) 60%,
    hsl(194deg 100% 72%) 65%,
    hsl(188deg 97% 74%) 71%,
    hsl(176deg 87% 78%) 76%,
    hsl(163deg 100% 86%) 81%,
    hsl(163deg 100% 89%) 86%,
    hsl(162deg 100% 92%) 91%,
    hsl(162deg 100% 95%) 95%,
    hsl(162deg 100% 97%) 98%,
    hsl(0deg 0% 100%) 100%
);
}

/*----------------------------INFO-PORTADA----------------------------*/
.section__content--info{
    padding: 4rem 4rem 0rem;
}
.info__img-wrapper{
    position: relative;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.info__img-wrapper>h1 {
    color: var(--dark-pink);
    font-size: 15rem;
}
.info__img-fit {
    position: absolute;
    top: var(--space-ultra-xxl);
    width: 70%;
    object-position: bottom;
    object-fit:contain;
    transform: scaleX(-1);
}
.content__text {
    margin-top: var(--space-ml);
    background-color: rgba(102, 19, 208, 0.4);
    padding: var(--space-xxl);
    color: var(--primary-color);
}

/*--------------------------MISION Y VISION--------------------------*/
.section__content--paper{
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:var(--space-xxxl);
}
.paper__img-wrapper {
    height:27rem;
    background-image: url(../img/notas-01.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.paper__img-wrapper>h2 {
    text-align: center;
    padding: var(--space-xxxl) 0 var(--space-m);
    border-bottom: 3px solid;
}
.paper__img-wrapper:nth-child(odd)>h2 {
    color: var(--neon-blue);
    border-color: var(--neon-blue);
}
.paper__img-wrapper:nth-child(even)>h2 {
    color: var(--orange);
    border-color: var(--orange);
}
.paper__img-wrapper>p {
    padding: var(--space-xxl);
    text-align: justify;
}

/*-----------FOTO PRODUCTO --------------*/
.section__title{
    padding: var(--space-xxl) 0 0;
    text-align: center;
    color: var(--dark-blue);
}
.section__content--team{
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
.member {
    position: relative;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(4.5px);
    padding: var(--space-xl);
}
.member:nth-of-type(1) {background-color: #ffe9f4;}
.member:nth-of-type(2) {background-color: #ffeee1;}
.member:nth-of-type(3) {background-color: #f1fbff;}

.member__header {
    width: 55%;
}

.product-img{
    object-fit: cover;
    object-position: center;
}
#product-img_one {
    filter:
    drop-shadow(5px 5px 0px #ff72b6)
    drop-shadow(-5px -5px 0px var(--dark-pink));
}
#product-img_two {
    filter:
    drop-shadow(5px 5px 0px #ff8a41)
    drop-shadow(-5px -5px 0px var(--orange)); 
}
#product-img_three {
    filter:
    drop-shadow(5px 5px 0px var(--baby-blue))
    drop-shadow(-5px -5px 0px var(--neon-blue-light)); 
}

.member-name-one { color: var(--pink); }
.member-name-two { color: var(--orange); }
.member-name-three { color: var(--neon-blue); }

/*CELO - ESQUINA SUPERIOR IZQ*/
.member:first-of-type > .washitape, 
.member:nth-of-type(2) > .washitape, 
.member:nth-of-type(3) > .washitape {
    position: absolute;
    top: 0;
    left: -3.5rem;
    width: 30%;
    height: 13%;
    transform: rotate(-45deg);
    background-color: rgba(252, 252, 252, 0.4);
    backdrop-filter: blur(6px);
}

/*CELO - ESQUINA INFERIOR DCHA*/
.member > .washitape:nth-of-type(even) {
    top: 90%;
    left: 80%;
}

/*CELO - ESQUINA INFERIOR IZQ*/
.member:nth-of-type(3) > .washitape:nth-of-type(odd) {
    transform: rotate(45deg);
    top: 90%;
    left: -3.5rem;
}

/*CELO - ESQUINA SUPERIOR DCHA*/
.member:nth-of-type(2) > .washitape:nth-of-type(even), 
.member:nth-of-type(3) > .washitape:nth-of-type(even) {
    top: 0;
    left: 80%;
    transform: rotate(45deg);
}